<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>

<body>

<header class="mb-10">
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container-fluid mb-7">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow-6-soft">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="text-primary me-4 h1 fw-bold fw-bold mb-4">Dashboard</span>
                            <span class="me-2 text-info"><i class="fas fa-chart-line"></i></span> <span class="text-info fw-bold">1,000 Online Visitors Since 09/10/2025</span>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 mb-lg-o mb-3">
                                <div class="card shadow-inner">
                                    <div class="card-body">
                                        <p class="h4 mb-3">Home Page</p>
                                        <ul>
                                            <li>
                                                <a href="/newHomeIntro">Update Main Intro</a>
                                            </li>
                                            <li>
                                                <a href="/newFaq">Update FAQ Section</a>
                                            </li>
                                            <li>
                                                <% if(contactData != "") { %>
                                                    <% for(i=0; i < contactData.length; i++) { %>
                                                        <p class="text-muted">
                                                            Form Submissions Go To: <%= contactData[i].adminName %>, using email <%= contactData[i].email %>. <a class="text-warning" href="/deleteContactPreference/<%= contactData[i]._id %>"><i class="fa-solid fa-trash"></i></a>
                                                        </p>
                                                    <% } %>
                                                <% } else { %>
                                                    <p class="text-muted">Add a <a href="/newContact" class="text-decoration-underline">form contact</a>.</p>
                                                <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-lg-o mb-3">
                                <div class="card shadow-inner">
                                    <div class="card-body">
                                        <p class="h4 mb-3">Board Members</p>
                                        <ul>
                                            <li>
                                                <a href="/newBoardMember">Add Board Member</a>
                                            </li>
                                            <li>
                                                <a href="/boardMembers">Manage Members</a>
                                            </li>
                                            <li>
                                                <a href="">View Activity</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-lg-o mb-3">
                                <div class="card shadow-inner">
                                    <div class="card-body">
                                        <p class="h4 mb-3">Our Reach Page</p>
                                        <ul>
                                            <li>
                                                <a href="">Update Main Intro</a>
                                            </li>
                                            <li>
                                                <a href="">Update Content</a>
                                            </li>
                                            <li>
                                                <a href="">Update Contact Form</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-lg-o mb-3">
                                <div class="card shadow-inner">
                                    <div class="card-body">
                                        <p class="h4 mb-3">Programs Page</p>
                                        <ul>
                                            <li>
                                                <a href="">Add A Program</a>
                                            </li>
                                            <li>
                                                <a href="">Manage Programs</a>
                                            </li>
                                            <li>
                                                <a href="">View Activity</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>