<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>

<body>
<%- include("layouts/navbar") -%>
<%- include("components/home/intro") -%>

<main>
    <section class="container mb-5">
        <!-- Section: Article Section -->
        <%- include("components/home/article-section") -%>
        <!-- Section: Faqs Section -->
        <%- include("components/home/faqs") -%>
        <!-- Section: Design Block -->
        <%- include("components/home/donate-here") -%>
        <!-- Section: Design Block -->
        <%- include("components/home/home-programs") -%>
    </section>
</main>
<%- include("layouts/footer") -%>
</body>
</html>