<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>

<header class="mb-10">
    <%- include("layouts/navbar") -%>
</header>

<main>
    <!-- elements here -->
    <div class="container mb-5">
        <% if(review != "") { %>
            <div class="row justify-content-center mb-7">
                <div class="col-lg-10 text-center">
                    <h1 class="mb-5"><span class="fw-bold">Public</span> Testimonials</h1>
                    <!-- Section: Design Block -->
                    <!-- Section: Design Block -->
                    <div class="row">
                        <% for(i=0; i < review.length; i++) { %>
                            <div class="col-md-4 mb-5 mb-md-0">
                                <div class="d-flex justify-content-center align-items-center text-center mb-4">
                                    <% if(review[i].image != "") { %>
                                        <img
                                                src="<%= review[i].image %>"
                                                class="rounded-circle shadow-1-strong"
                                                width="150"
                                                height="150"
                                                alt="<%= review[i].name %>"
                                        />
                                    <% } else { %>
                                        <img
                                                src="/assets/logo.png"
                                                class="rounded-circle bg-dark shadow-1-strong"
                                                width="150"
                                                height="150"
                                                alt="our cosmic vibe is you"
                                        />
                                    <% } %>
                                </div>
                                <h5 class="mb-3"><%= review[i].name %></h5>
                                <h6 class="text-primary mb-3">
                                    <%= review[i].title %>
                                    <a href="/delete/testimony/<%= review[i]._id %>">
                                        <i class="fas fa-trash text-warning"></i>
                                    </a>
                                </h6>
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i><%= review[i].review %>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star-half-alt fa-sm text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <p class="lead">
                    <a href="/newTestimony" class="text-decoration-underline fw-bold"><i class="fas fa-pencil"></i> Write</a> us a testimony and share your experience with online viewers.
                </p>
            </div>
        </div>
    </div>
    <!--Section: Design Block-->
</main>
<!-- Footer -->
<%- include("layouts/footer") -%>
</body>
</html>